/* Full-width input fields */
input[type=text], input[type=password], input[type=email],input[type=number],input[type=tel] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size:16px;
    border-radius: 15px;
    outline: transparent;
  }
  /* The Modal (background) */
  .modal {
      display:none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);
  }
  /* Modal Content Box */
  .modal-content {
    /*background:linear-gradient(#117C6F,#289C8E,#2FC4B2,#8DE5DB,#B2F0E8);*/
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 500px;
    right: auto; 
    padding-bottom: 30px;
    border-radius: 15px;
    box-shadow: 15px 15px 25px rgba(0,0,0,.5);
  
  }
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  .avatar {
    width: 200px;
  height:200px;
    border-radius: 50%;
  }
  /* Add Zoom Animation */
  .animate {
    animation: zoom 0.6s
  }
  @keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  /* The Close Button (x) */
  .close {
      
    position: absolute;
    width: 25px;
    right: 0px;
    top: -30px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  .close:hover,.close:focus {
    color: red;
    cursor: pointer;
  }
  
  /*
   * Base structure
   */
  
  /* Move down content because we have a fixed navbar that is 50px tall */
  body {
    padding-top: 50px;
  }
  
  /*
   * Typography
   */
  
  h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
  
  /* Sidebar navigation */
  .sidebar {
    padding-left: 0;
    padding-right: 0;
  }
  
  .sidebar .nav {
    margin-bottom: 20px;
  }
  
  .sidebar .nav-item {
    width: 100%;
  }
  
  .sidebar .nav-item + .nav-item {
    margin-left: 0;
  }
  
  .sidebar .nav-link {
    border-radius: 0;
  }
  
  /*
   * Dashboard
   */
  
   /* Placeholders */
  .placeholders {
    padding-bottom: 3rem;
  }
  
  .placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  