body{
    /*background: -webkit-linear-gradient(left, #3931af, #00c6ff);*/
    background: url("../img/fondo.jpg") no-repeat center ;
      background-attachment: fixed;
  }
  .wrapper {
      width: 80%;
      margin: auto;
      overflow:hidden;
  }
  header {
      background: rgba(0,0,0,0.9);
      width: 100%;
      position: fixed;
      z-index: 10;
  }
  .div-cent{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
  }
  #x{
      display: inline-block;
      height: 33.33%;
      width: 33.33%;	
      margin: 10px;
  }
  
  .parallax { 
      /* The image used */
    
      /* Set a specific height */
      height: 800px; 
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  /*Banners*/
    #info1{
      background-image: url("../img/Banners/lawnmower-384589_1920.jpg");
    }
    #info2{
      background-image: url("../img/Banners/water-lily-3784022_1920.jpg");
    }
    #info3{
      background-image: url("../img/Banners/ecology-2985781_1920.jpg");
    }
    
    #plant1{
      background-image: url("../img/Banners/pla1.png");
    }
    #plant2{
      background-image: url("../img/Banners/pla2.png");
    }
    #plant3{
      background-image: url("../img/Banners/pla3.png");
    }
    
    #product1{
      background-image: url("../img/Banners/cat1.png");
    }
    #product2{
      background-image: url("../img/Banners/cat2.png");
    }
    #product3{
      background-image: url("../img/Banners/cat3.png");
    }
    #banner1{
      background-image: url("../img/Banners/inde1.png");
    }
    #banner2{
      background-image: url("../img/Banners/inde3.png");
    }
    #banner3{
      background-image: url("../img/Banners/inde2.png");
    }
    #banner4{
      background-image: url("../img/Banners/banner2.png");
    }
  /******************************************/
  .section-lg{
      padding: 50px 0;
      background: rgba(255, 255, 255, 0.2);
  }