/* Full-width input fields */
input[type=text], input[type=password], input[type=email],input[type=number],input[type=tel] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size:16px;
    border-radius: 15px;
    outline: transparent;
  }
  /* The Modal (background) */
  .modal {
      display:none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);
  }
  /* Modal Content Box */
  .modal-content {
    /*background:linear-gradient(#117C6F,#289C8E,#2FC4B2,#8DE5DB,#B2F0E8);*/
    background: -webkit-linear-gradient(right, #3931af, #00c6ff);
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 500px;
    right: auto; 
    padding-bottom: 30px;
    border-radius: 15px;
    box-shadow: 15px 15px 25px rgba(0,0,0,.5);
  
  }
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  .avatar {
    width: 200px;
  height:200px;
    border-radius: 50%;
  }
  /* Add Zoom Animation */
  .animate {
    animation: zoom 0.6s
  }
  @keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  /* The Close Button (x) */
  .close {
      
    position: absolute;
    width: 25px;
    right: 0px;
    top: -30px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  .close:hover,.close:focus {
    color: red;
    cursor: pointer;
  }
  
/***********************************/
body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 280;
    height: 180;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}