.wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
}
header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 10;
}
.div-cent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}
#x{
	display: inline-block;
	height: 33.33%;
	width: 33.33%;	
	margin: 10px;
}

.parallax { 
    /* The image used */
  
    /* Set a specific height */
    height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #x1{
    background-image: url("../img/Banners/gardening-690940_1920.jpg");
  }
  #x2{
    background-image: url("../img/Banners/water-lily-3784022_1920.jpg");
  }
  #x3{
    background-image: url("../img/Banners/gardening-690940_1920.jpg");
  }
/******************************************/
.section-lg{
	padding: 50px 0;
	background: rgba(255, 255, 255, 0.2);
}