*{margin:0px; padding:0px; font-family:Helvetica, Arial, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password], input[type=date] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size:16px;
    border-radius: 15px;
    outline: transparent;
}

/* Set a style for all buttons 
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
    font-size:20px;
    outline: transparent;
}*/
button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    width: 200px;
	height:200px;
    border-radius: 50%;
}

/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    /*background:linear-gradient(#117C6F,#289C8E,#2FC4B2,#8DE5DB,#B2F0E8);*/
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 500px;
    right: auto; 
    padding-bottom: 30px;
    border-radius: 15px;
    box-shadow: 15px 15px 25px rgba(0,0,0,.5);

}

/* The Close Button (x) */
.close {
    
    position: absolute;
    width: 25px;
    right: 0px;
    top: -30px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

h1{
    text-align:center; 
    font-size:50px; 
    color:#fff;
}
/*
body{
    background:linear-gradient(190deg,#117C6F,#289C8E,#2FC4B2,#8DE5DB,#B2F0E8);
    background-attachment: fixed;
}
*/
button{
    width:200px; 
    margin-top:200px; 
    margin-left:160px;
    margin-top: 30px;
    border-radius: 15px;
}

#crear{
   margin-top: 2%;
    border-radius: 15px;
    text-align: center;
    outline: transparent;
}